<div class="row header-row">
  <div class="col">
    <h4>Categories</h4>
  </div>
</div>

<div class="row">
  <div class="col">

    <div *ngFor="let category of categoriesList">
      <button *ngIf="selected.includes(category)"
        type="button" class="btn btn-primary btn-lg category-btn"
        (click)="selectCategory(category)">
        {{category}}
      </button>
      <button *ngIf="!selected.includes(category)"
              type="button" class="btn btn-outline-primary btn-lg category-btn"
              (click)="selectCategory(category)">
        {{category}}
      </button>
      <br>
    </div>
  </div>
</div>
