<div class="container-fluid">
  <div class="row">
    <div class="col-3" >
      <app-categories-section
        [categoriesList]="categoriesList"
        [selected]="categoriesSelection"
        (onCategorySelectionClick)="onCategorySelectionClickEvent($event)" >
      </app-categories-section>
    </div>
    <div class="col-9" >
      <app-applications-section
        [applicationsListData]="appsList"
        (pageChange)="onPageChangeEvent($event)"
        (searchChange)="onSearchChangeEvent($event)"
        >
      </app-applications-section>
    </div>
  </div>
</div>
