/* You can add global styles to this file, and also import other style files */
$font-path: "../assets/fonts";


$colors: (
  white: #FFFFFF,
  black: #172241,
  gray: #f4f7f6,
  gray-dark: #6c7680,
  teal: #4bc3c9
)



